<div class="about-container">
  <div class="left">
    <div class="img-container">
      <img src="../../../assets/img/portfolio2.png" alt="" />
    </div>
  </div>
  <div class="right">
    <div class="address-container">
      <div class="name">
        <h1>Renáta Irinyi</h1>
        <p>Software Developer</p>
      </div>
      <div class="icons">
        <p>
          <fa-icon [icon]="faLocationDot"></fa-icon>
          Located in Switzerland
        </p>
        <p>
          <fa-icon [icon]="faFlag"></fa-icon>
          Speaks german, hungarian and english
        </p>

        <a href="mailto:reniirinyi@icloud.com">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          reniirinyi@icloud.com
        </a>
        <a href="https://reniirinyi.vercel.app/home">
          <fa-icon [icon]="faGlobe"></fa-icon>
          Portfolio-Page
        </a>
      </div>
    </div>
    <div class="text-container">
      <p>
        With a diploma in Business Economics, I'm a career changer who has
        passionately embraced application development, combining my analytical
        skills with a creative approach. My journey from economics to technology
        showcases my commitment to continuous learning and adaptability.
        Balancing a love for development with artistic inclinations, I strive to
        craft solutions that are not only efficient but also aesthetically
        engaging.
      </p>
    </div>
  </div>
</div>
