<div class="about-container">
  <div class="left">
    <div class="img-container">
      <img src="../../../assets/img/portfolio2.png" alt="" />
    </div>
  </div>
  <div class="right">
    <div class="address-container">
      <div class="name">
        <h1>Renáta Irinyi</h1>
        <p>Software Developer</p>
      </div>
      <div class="icons">
        <a href="mailto:reniirinyi@icloud.com">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          reniirinyi@icloud.com
        </a>
        <a href="https://reniirinyi.vercel.app/home">
          <fa-icon [icon]="faGlobe"></fa-icon>
          Portfolio-Page
        </a>
      </div>
    </div>
    <div class="text-container">
      <p>
        I have a strong passion for design work, and I enjoy inventing and
        implementing new things and animations. Additionally, since completing
        the SGD development training, I have been increasingly involved in
        creating server-side applications, which I also really enjoy.
      </p>
    </div>
  </div>
</div>
