@import "../../../styles.scss";

.about-container {
  @include container;
  flex-direction: row;
  @include respond(small-phone) {
    flex-direction: column;
  }
  @include respond(small-phone, landscape) {
    flex-direction: column;
  }
  @include respond(medium-phone) {
    flex-direction: column;
  }
}

.img-container {
  display: flex;
  justify-content: center;

  & img {
    object-fit: cover;
    width: 25rem;
    border-radius: 12px;
    margin: 1rem;
    overflow: hidden;
    @include respond(small-phone) {
      width: auto;
    }
    @include respond(small-phone, landscape) {
      width: auto;
    }
    @include respond(medium-phone) {
      width: auto;
    }
  }
}

.right {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.address-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include respond(tablet) {
    flex-direction: row;
  }
  @include respond(tablet, landscape) {
    flex-direction: row;
  }
  @include respond(desktop) {
    flex-direction: row;
  }

  & .name {
    & h1 {
      @include font-big-strong;
      padding-bottom: 0.5rem;
    }

    & p {
      @include font-regular;
      padding-bottom: 1rem;
    }
  }

  & .icons {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;

    & a {
      transition: all 0.5s;
      padding-bottom: 0.5rem;
      text-decoration: none;
      @include font-regular;
    }

    & a:hover {
      color: #333;
    }
  }
}

.text-container {
  @include font-regular;
  line-height: 1.4;
}
