@import "../../../styles.scss";

.project-container {
  display: flex;
  flex-direction: column;
  height: auto;
  @include respond(tablet) {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  @include respond(tablet, landscape) {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  @include respond(desktop) {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
}
.project {
  @include container;
  justify-content: space-between;
}

.img {
  height: 20rem;
  @include respond(tablet) {
    height: 40rem;
  }
  @include respond(tablet, landscape) {
    height: 40rem;
  }
  @include respond(desktop) {
    height: 60rem;
  }
  & img {
    border-radius: 12px;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.techstack {
  @include font-tiny-color(#4f4f4f);
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  & p {
    padding-right: 0.5rem;
    letter-spacing: 1.2;
    line-height: 1.4;
  }
}
.description {
  display: flex;
  flex-direction: column;
  & h1 {
    @include font-big;
  }
  & p {
    line-height: 1.4;
    padding: 1rem 0 2rem 0;
    @include font-tiny;
  }
}
.buttons {
  display: flex;

  & .button {
    margin-right: 0.5rem;
    @include button-2(#fff, #2f80ed, #2f80ed);
  }
  & .button:hover {
    background-color: #2f80ed;
    color: #fff;
  }
}
.pages {
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
  align-content: flex-end;

  & input,
  .svg:not(:last-of-type) {
    margin-right: 0.5rem;
  }
  & input,
  .svg {
    @include button-3(transparent, #2f80ed, #2f80ed);
  }
  & input:hover,
  .svg:hover {
    background-color: #2f80ed;
    color: #fff;
  }
}
.current-page {
  background-color: #2f80ed !important;
  color: #fff;
}
