<div class="hobbies-container">
  <h1>Hobbies</h1>
  <div class="hobby">
    <img src="../../../assets/img/natur.png" alt="" />
    <h3>Walking in the nature</h3>
    <p>
      I really enjoy the great hikes in nature. It is a wonderful way to clear
      my mind and recharge my batteries.
    </p>
  </div>
  <div class="hobby">
    <img src="../../../assets/img/coding.png" alt="" />
    <h3>Coding</h3>
    <p>
      I've always liked to immerse myself in the details. Since I've been
      coding, it's become a passion. So in my free time I like to create new
      things or improve existing projects.
    </p>
  </div>
</div>
