<div class="experience-container">
  <h1>Experiences</h1>
  <div class="experience">
    <div class="left">
      <img src="../../../assets/img/logo.jpeg" alt="" />
    </div>
    <div class="right">
      <p>11.2023 &mdash; Current</p>
      <h2>Application Developer</h2>
      <p>
        I currently work as an Application Developer at greenSys AG, where I
        specialize in full-stack development. My technical expertise primarily
        revolves around Angular/Kendo for front-end development, PHP for
        server-side scripting, and MariaDB for database management.
      </p>
    </div>
  </div>
  <a href="https://reniirinyi.vercel.app/">read more &rarr;</a>
</div>
