<div class="experience-container">
  <h1>Experiences</h1>
  <div class="experience">
    <div class="left">
      <img src="../../../assets/img/codefrog.png" alt="" />
    </div>
    <div class="right">
      <p>09.2023 &mdash; Current</p>
      <h2>Trainee Full-Stack Developer</h2>
      <p>
        I can participate in a three-month internship at CodeFrog GmbH as a
        Full-Stack Developer. During the internship, we develop a project in a
        team of three using agile methods. The main focus is on Spring Boot and
        the Angular Framework.
      </p>
    </div>
  </div>
  <div class="experience">
    <div class="left">
      <img src="../../../assets/img/sgd.png" alt="" />
    </div>
    <div class="right">
      <p>02.2023 &mdash; Current</p>
      <h2>Software Developer Student</h2>
      <p>
        I am currently studying to become a software developer. My main focus is
        on Java, SpringBoot, Maven, but I have also done a lot of projects with
        Angular, TypeScript, Node.js and Express.js during the course.
      </p>
    </div>
  </div>
  <a href="https://reniirinyi.vercel.app/">read more &rarr;</a>
</div>
