@import "../../../styles.scss";
.blog-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.first {
  display: grid;
  grid-template-columns: 40% 60%;
  overflow: hidden;

  h1 {
    @include font-big;
    padding: 2rem 0 2rem 0;
    line-height: 1.4;
  }

  img {
    object-fit: cover;
    width: auto;
    height: 20rem;
    border-radius: 12px;
    transform: translateX(10%);
  }
}
.text {
  @include font-small;
  line-height: 1.4;
}
.link {
  & a {
    @include link;
  }
  & a:hover {
    color: #9f9f9f;
  }
}
