@import "../../../styles.scss";
.blog-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.first {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include respond(tablet) {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  @include respond(tablet, landscape) {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  @include respond(desktop) {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  h1 {
    @include font-big;
    padding: 2rem 0 2rem 0;
    line-height: 1.4;
  }

  img {
    object-fit: cover;
    width: auto;
    height: 20rem;
    border-radius: 12px;

    @include respond(tablet) {
      transform: translateX(10%);
    }
    @include respond(tablet, landscape) {
      transform: translateX(10%);
    }
    @include respond(desktop) {
      transform: translateX(10%);
    }
  }
}
.text {
  @include font-small;
  line-height: 1.4;
}
.link {
  padding-top: 1rem;
  & a {
    @include link;
  }
  & a:hover {
    color: #9f9f9f;
  }
}
